body {
  background-color: lightblue;
}

body {
  background-image: url("paper.gif");
}

body {
  background-image: url("gradient_bg.png");
}

body {
  background-image: url("img_tree.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

body {
  background-color: #ffffff;
  background-image: url("img_tree.png");
  background-repeat: no-repeat;
  background-position: right top;
}